{% extends "base.html" %}


{% block content %}

  <h1>Buy Items</h1>
  <form action="{{url_for('pay') }}" method="POST">
    <table>
      <thead>
	<tr>
	  <th>Item</th>
	  <th>Price</th>
	  <th>Quantity</th>
	  <th>Total</th>
	</tr>
      </thead>
      <tbody>
	{% for item in basket %}
	<tr>
	  <td>{{ item[0].name }}</td>
	  <td>£{{ item[0].price }}</td>
	  <td>{{ item[1] }}</td>
	  <td>£{{ item[2] }}</td>
	</tr>
	{% endfor %}

	<tr>
	  <th>TOTAL</th>
	  <th></th>
	  <th></th>
	  <th>{{ total }}</th>
	</tr>
	    
    </table>

    <input type="hidden" name="total" value="{{ total }}">
    <button class="waves-effect waves-light btn">Buy</button>
  </form>
  {% endblock %}
